.git
.gitignore
.gitattributes

.env
.env.local
.env.production
.phpunit.result.cache

node_modules
vendor

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*

bootstrap/cache/*.php

tests
docs

*.zip
npm-debug.log
yarn-error.log
.DS_Store